<div class="contents row">
  <div class="container">
    <%= form_with(model: @post, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "店名" %>
      <%= form.file_field :photo %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>