// 投稿画面
.container{
  text-align: center;
  .store-image{
    p{
      padding: 0.1em 0.4em;
      text-decoration: none;
      background: coral;
      color: #FFF;
      border-bottom: solid 4px tomato;
      border-radius: 3px;
      width: 140px;
      margin: 0 auto;
    }
    .alert {
      color:#262626; 
      background:#FFEBE8;
      text-align: center;
      border:2px solid #990000;
      padding:12px; font-weight:850;
    }
    input,textarea {
      width: 50%;
      border: 1px solid ;
      border-radius: 5px;
      font-family: monospace;
      padding: 10px 15px;

    }
}
  

  .send-btn{
  
    display: block;
    border-radius: 20px;
    color:black;
    background-color: gold;
    border:solid 1px brown;
    font-size: 18px;
    width: 100px;
    margin: 0 auto;
    padding: 10px 15px;
  }
  .category-box{
     color: deeppink;
     font-weight: bold;
    }

}